.button
{
    -fx-background-color: #9494b8;
    -fx-border-color: #3d3d5c;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-pref-height: 50px;
    -fX-font-size: 25px;
    -fx-font-family: 'Californian FB', Arial, regular;
}
.button:hover
{
    -fx-background-color: #000066;
    -fx-text-fill: #ffffff;
}

.label
{
     -fx-pref-height: 50px;
     -fx-font-size: 25px;
     -fx-font-family: 'Californian FB', Arial, regular;
     -fx-alignment: center;
}

.slider
{
     -fx-background-color: #b3b3cc;
     -fx-border-color: #3d3d5c;
     -fx-border-width: 1px;
     -fx-border-style: solid;
     -fx-pref-height: 50px;
     -fx-font-size: 15px;
}